<% provide(:title, "edit") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>プロフィール編集</h1>
    <%= form_for current_user, url: {action: 'profile_update'} do |f| %>
      <%= f.label :ユーザーネーム %><br/>
      <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: 'form-control'  %>
      
      <%= f.label :名前 %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
      
      <%= f.label :メール（非公開） %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    
      <%= f.label :性別 %><br/>
      <%= f.select :gender,[["男", "男"],["女","女"]], autofocus: true, autocomplete: "gender", class: 'form-control' %>
      
      <%= f.label :自己紹介（120字以内） %><br/>
      <%= f.text_area :comment, autofocus: true, autocomplete: "comment", class: 'form-control' %>
      
      <div class="actions">
        <%= f.submit "更新", class: "btn btn-primary" %>
        <%= link_to "パスワード変更", edit_user_registration_path(current_user.id) %><br>
      </div>
    <% end %>
    <br>
    <h3>アカウント削除</h3>
    <p><%= button_to "削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></p>
  </div>
</div>


