<script>
  function initMap() {
    var mapPosition = new google.maps.LatLng( 34.8220139,135.5222735 );//緯度経度
    var map = new google.maps.Map(document.getElementById('gmap'), {
    zoom: 15,//ズーム
    center: mapPosition
  });
    var marker = new google.maps.Marker({
    position: mapPosition,
    map: map
    });
  }
</script>
<div id="gmap"></div>