<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6.mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
        <strong>
          <%= visitor.user_name %>
        </strong>
      <% end %>
      <%= 'さんが' %>
      <% case notification.action 
         when 'like' then %>
          <%= link_to 'あなたのレッスン', micropost_path(notification.micropost_id), style: "font-weight: bold;" %>
          <%= "を申し込みました。" %>
        <% when 'follow' then %>
          <%= "あなたをフォローしました。" %>
        <% when 'comment' then %>
          <%= link_to "あなたのレッスン", micropost_path(notification.micropost_id), style: "font-weight: bold;" %>
          <%= "にコメントしました。" %>
      <% end %>
    </span>
  </div>
</div>