<% provide(:title, "Notification") %>
<h1>通知一覧</h1>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
  <%= render notifications %>
<% else %>
  <p>通知はありません</p>
<% end %>