<% if !current_user?(micropost.user) %>
  <span class="like">
    <% if micropost.like?(current_user) %>
      <h4>申し込み済！！</h4>
      <%= form_for(micropost.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-warning ms-btn") do %>
          キャンセルする
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(micropost.likes.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
        <%= button_tag(class: "btn btn-success ms-btn") do %>
          教えてもらう
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>