<li>
  <% if user.image %>
     <%= image_tag user.image, :width =>'50px',:height =>'50px' %>
   <% else %>
     <%= gravatar_for user , size: 50 %>
   <% end %>
  <%= link_to user.user_name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %><br>
  <%= user.comment %>
</li>