<% provide(:title, "Search") %>
<div class="col-xs-12 col-md-3 ui">
  <h1>インストラクターを探す</h1>
  <%= form_tag(users_path, :method => 'get') do %>
    <%= text_field_tag :search, "ex) Example User", {class: "search-form"} %>
    <%= submit_tag 'Search', :user_name => nil, class: "btn btn-primary search-btn" %>
  <% end %>
</div>
<div class="col-xs-12 col-md-9">
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>