<% provide(:title, @user.user_name) %>
<div class="row">
  <div class="profile-top">
    <aside class="col-xs-4">
      <section class="user_info">
        <h1>
         <% if @user.image %>
           <%= image_tag @user.image, :width =>'80px',:height =>'80px' %>
         <% else %>
           <%= gravatar_for @user , size: 80 %>
         <% end %>
         <%= @user.user_name %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
        <%= render 'follow_form' if user_signed_in? %>
      </section>
      <% if current_user?(@user) %>
        <div class="us-user">
          <p>
            <%= link_to 'プロフィール編集', profile_edit_path %>
            <span class="glyphicon glyphicon-edit icon" aria-hidden="true"></span>
          </p>
          <p>
            <%= link_to "新しいLessonを開講する", new_micropost_path %>
            <span class="glyphicon glyphicon-edit icon" aria-hidden="true"></span>
          </p>
          <p>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </p>
        </div>
      <% end %>
    </aside>
    <div class="col-xs-8 profile-right">
        <p>氏名 : <%= @user.name %></p>
        <p>性別 : <%= @user.gender %></p>
        <p>自己紹介 : <%= @user.comment %></p>
      </div>
    </div>
  </div>
  <div class="col-12 us">
    <% if @user.microposts.any? %>
      <h3>Lessons</h3>
      <ol class="us-microposts">
        <% @microposts.each do |micropost| %>
          <div class="col-xs-4 col-md-2">
            <%= render 'microposts/pictures',  micropost: micropost %>
          </div>
        <% end %>
      </ol>
    <% end %>
    <%= will_paginate @microposts %>
  </div>
</div>