<div class="hi-categories_index">
  <h1>カテゴリ一覧</h1>
  <div class="hi-index">
    <p class="hi-cate"><%= link_to 'デザイン', design_path, class: "hi-cate_link" %></p>
    <p class="hi-cate"><%= link_to '音楽', music_path, class: "hi-cate_link" %></p>
    <p class="hi-cate"><%= link_to '動画、写真、画像', movie_path, class: "hi-cate_link" %></p>
    <p class="hi-cate"><%= link_to 'IT、プログラミング', it_path, class: "hi-cate_link" %></p>
    <p class="hi-cate"><%= link_to 'ビジネス', business_path, class: "hi-cate_link" %></p>
    <p class="hi-cate"><%= link_to '語学', language_path, class: "hi-cate_link" %></p>
    <p class="hi-cate"><%= link_to '美容', beauty_path, class: "hi-cate_link" %></p>
    <p class="hi-cate"><%= link_to '趣味、エンタメ', hobby_path, class: "hi-cate_link" %></p>
    <p class="hi-cate"><%= link_to 'その他', other_path, class: "hi-cate_link" %></p>
  </div>
</div>