<% if @feed_items.any? %>
  <ul class="hi-microposts hi-resl">
    <% @feed_items.each do |micropost| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'microposts/micropost',  micropost: micropost %>
      </div>
    <% end %>
  </ul>
  <ul class="hi-microposts hi-ress">
    <% @feed_items.limit(6).each do |micropost| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'microposts/micropost',  micropost: micropost %>
      </div>
    <% end %>
  </ul>
  <%= will_paginate @feed_items %>
<% end %>