<div class="hi-designs col-xs-12">
  <%= link_to(design_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-pencil icon" aria-hidden="true"></span>
      デザイン
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @designs.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @designs.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(music_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-music icon" aria-hidden="true"></span>
      音楽
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @musics.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @musics.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(movie_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-facetime-video icon" aria-hidden="true"></span>
      動画、写真、画像
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @movies.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @movies.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(it_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-apple icon" aria-hidden="true"></span>
      IT、プログラミング
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @its.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @its.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(business_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-usd icon" aria-hidden="true"></span>
      ビジネス
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @businesses.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @businesses.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(language_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-education icon" aria-hidden="true"></span>
      語学
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @languages.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @languages.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(beauty_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-heart icon" aria-hidden="true"></span>
      美容
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @beauties.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @beauties.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(hobby_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-sunglasses icon" aria-hidden="true"></span>
      趣味、エンタメ
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @hobbies.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @hobbies.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(other_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-option-horizontal icon" aria-hidden="true"></span>
      その他
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @others.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @others.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>