<div class="hi-designs col-xs-12">
  <%= link_to(level1_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-pawn icon" aria-hidden="true"></span>
      初級者
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @level1.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @level1.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(level2_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-knight icon" aria-hidden="true"></span>
      中級者
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @level2.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @level2.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<div class="hi-designs col-xs-12">
  <%= link_to(level3_path, class: 'hi-link') do %>
    <h4>
      <span class="glyphicon glyphicon-king icon" aria-hidden="true"></span>
      上級者
    </h4>
  <% end %>
  <ol class="hi-microposts hi-resl">
    <% @level3.each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
  <ol class="hi-microposts hi-ress">
    <% @level3.limit(3).each do |category| %>
      <div class="col-xs-4 col-md-3">
        <%= render 'categories/category', category: category%>
      </div>
    <% end %>
  </ol>
</div>
<p class="empty">a</p>
