<div class="row">
  <div class="col-xs-12 hi-top">
    <h3>最新のレッスン</h3>
    <div class="hi-recently_microposts">
      <% @recently_post.each do |category| %>
        <div class="col-xs-4">
          <%= render 'categories/category', category: category%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3  category-list">
    <%= render 'shared/category_index' %>
    <% if user_signed_in? %>
      <section class="user_info parsonal">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    <% end %>
  </div>
  <div class="col-md-9">
    <div class="hi-lessons">
      <% if user_signed_in? %>
        <div class="hi-recommend">
          <p class="empty">a</p>
          <h3>オススメのレッスン</h3>
          <%= render 'shared/feed' %>
        </div>
      <% end %>
      <div class="col-xs-12 hi-categories">
        <h3>レベル別</h3>
        <%= render 'home/level' %>
      </div>
      <div class="col-xs-12 hi-categories">
        <h3 class="hi-title_cate">カテゴリ別</h3>
        <%= render 'home/category' %>
      </div>
    </div>
  </div>
</div>
