<% provide(:title, "Search") %>
<div class="col-xs-12 col-md-3 ui">
  <h1>レッスンを探す</h1>
  <%= form_tag(search_path,:method => 'get') do %>
    <%= text_field_tag :search, "ex) プログラミング、ピアノ", {class: "search-form"} %>
    <%= submit_tag 'Search', :name => nil, class: "btn btn-primary search-btn"  %>
  <% end %>
</div>
<div class="col-xs-12 col-md-9">
  <div class="hi-lessons">
    <div class="hi-categories">
      <ol class="hi-microposts">
        <% @microposts.each do |category| %>
          <div class="col-xs-4 col-md-3">
            <%= render 'categories/category', category: category%>
          </div>
        <% end %>
      </ol>
    </div>
  </div>
</div>