<div class="mc-box">
  <p>category > <%= micropost.category %></p>
  <h1><%= micropost.content %></h1>
  <div class="mc-top">
    <p class="mc-level"> 対象者：<%= micropost.level %></p>
    <p class="mc-time">公開時間：<%= time_ago_in_words(micropost.created_at) %> ago.</p>
  </div>
  <div class="mc-img_box">
    <%= image_tag micropost.picture.url, class:'mc-img' if micropost.picture? %>
  </div>
  <div class="mc-service">
    <h2 class="mc-heading">Lesson詳細</h2>
    <p><%= micropost.service %></p>
  </div>
  <div class="mc-other">
    <h2 class="mc-heading">その他(Lessonに関する注意事項など)</h2>
    <p><%= micropost.other %></p>
  </div>
</div>
