<%= form_for(micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mf-form_box">
    <div class="col-xs-12 mf-field">
      <div class="col-xs-12 col-md-3">
        <p>タイトル<br><span class="must"> ※必須(25字以内)</span></p>
      </div>
      <div class="col-xs-12 col-md-9">
        <%= f.text_area :content, placeholder: " タイトルを入力してください。" %>
      </div>
    </div>
    <div class="col-xs-12 mf-field">
      <div class="col-xs-12 col-md-3">
        <p>対象者レベル</p>
      </div>
      <div class="col-xs-12 col-md-9">
        <%= f.select :level,
          [["全対応","全対応"],["初級者", "初級者"],["中級者","中級者"],["上級者","上級者"]], 
          autofocus: true, autocomplete: "level", class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-12 mf-field">
      <div class="col-xs-12 col-md-3">
        <p>画像<br><span class="must"> ※必須</span></p>
      </div>
      <div class="col-xs-12 col-md-9">
        <span class="picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>
      </div>
    </div>
    <div class="col-xs-12 mf-field">
      <div class="col-xs-12 col-md-3">
        <p>値段<br><span class="must"> ※必須(20字以内)</span></p>
      </div>
      <div class="col-xs-12 col-md-9">
        <%= f.text_area :price, placeholder: " 1000円/60分"%>
      </div>
    </div>
    <div class="col-xs-12 mf-field">
      <div class="col-xs-12 col-md-3">
        <p>レッスン内容<br><span class="must"> ※必須(1000字以内)</span></p>
      </div>
      <div class="col-xs-12 col-md-9">
        <%= f.text_area :service, placeholder: " 授業内容〜〜" %>
      </div>
    </div>
    <div class="col-xs-12 mf-field">
      <div class="col-xs-12 col-md-3">
        <p>その他<br><span class="not">(1000字以内)</span></p>
      </div>
      <div class="col-xs-12 col-md-9">
        <%= f.text_area :other, placeholder: " その他" %>
      </div>
    </div>
    <div class="col-xs-12 mf-field">
      <div class="col-xs-12 col-md-3">
        <p>カテゴリ</p>
      </div>
      <div class="col-xs-12 col-md-9">
        <%= f.select :category,
          [["選択してください","未選択"],["デザイン", "デザイン"],["音楽","音楽"],["動画、写真、画像","動画、写真、画像"],
          ["IT、プログラミング","IT、プログラミング"],["ビジネス","ビジネス"],["語学","語学"],
          ["美容","美容"],["趣味、エンタメ","趣味、エンタメ"],["その他","その他"]], 
            autofocus: true, autocomplete: "level", class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= f.submit "登録", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>