<li class="hi-content">
  <%= link_to micropost do %>
    <%= image_tag micropost.picture.url, :width =>'100%',:height =>'100%' if micropost.picture? %>
    <p class="hi-title"><%= micropost.content %></p>
    <p class="hi-price"><%= micropost.price %></p>
  <% end %>
</li>
