<li id="micropost-<%=micropost.id%>">
  <%= link_to micropost do %>
    <div class="mm-content">
      <div class="pic" data-toggle="modal" data-target="#testModal-<%=micropost.id%>">
        <%= image_tag micropost.picture.url, :width =>'100%',:height =>'100%' if micropost.picture? %>
      </div>
      <p class="mm-title"><%= micropost.content %></p>
      <p class="mm-price"><%= micropost.price %></p>
    </div>
  <% end %>
</li>
