<% provide(:title, @user.user_name) %>
<div class="row">
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render partial: 'class', locals: { micropost: @micropost } %>
      </ol>
    <% end %>
  </div>
  <aside class="col-md-4 ms">
    <div class="col-xs-4 col-md-12 ms-price">
      <h3 class="ms-text">レッスン料</h2>
      <h3><%= @micropost.price %></h3>
      <%= render "likes/like", micropost: @micropost %>
    </div>
    <div class="col-xs-8 col-md-12 ms-profile">
      <h3>プロフィール</h3>
      <div class="ms-prof_img">
        <% if @user.image %>
          <img src=<%= @user.image %>>
        <% else %>
          <%= link_to gravatar_for(@user, size: 50), @user %>
        <% end %>
      </div><br>
      <p class="ms-user_name"><%= link_to @user.user_name, @user %></p>
      <p class="ms-gender"><%= @user.gender %>性</p>
      <p class="ms-comment"><%= @user.comment %></p>
    </div>
    <div class="col-xs-12 col-md-12 ms-maps">
      <% if @user.id <= 6 %>
        <div class="ms-map">
          <%= render "maps/map#{@user.id}" %>
        </div>
        <h4 class="ms-map_text">オンライン、オフラインどちらでも承っております。</h4>
      <% else %>
        <h4 class="ms-map_text">このLessonはオフラインのみです。<br>オンラインでのLessonは開講していません。</h4>
      <% end %>
    </div>
    <% if current_user?(@user) %>
    <div class="col-xs-12 col-md-12 ms-edit">
      <h3>ユーザーメニュー</h3>
      <p><%= link_to "このLessonを編集する", edit_micropost_path(params[:id]) %></p>
      <p><%= link_to "このLessonを削除する", @micropost, method: :delete,
                            data: { confirm: "You sure?" } %></p>
    </div>
    <% end %>
  </aside>
  <div class="col-xs-12 ms-comment_box">
    <div class="col-md-8 ms-content">
      <h3>Comment</h3>
      <% @micropost.comments.each do |comment| %>
        <% unless comment.id.nil? %>
          <div class="ms-one_come">
            <div class="col-xs-1 ms-comment_image">
              <% if comment.user.image %>
                <img src=<%= comment.user.image %>>
              <% else %>
                <%= link_to gravatar_for(comment.user, size: 50), @user %>
              <% end %>
            </div>
            <div class="col-xs-11 ms-comment_name">
              <p>
                <%= link_to "#{comment.user.user_name}", comment.user, class: "cmntname" %>
                <% if comment.user == current_user %>
                  <span class="delete_cmnt" id="like-of-<%= @micropost.id %>">
                    <%= link_to "[削除]",[@micropost,comment], method: :delete if @micropost %>
                  </span>
                <% end %>
              </p>
              <p><%= comment.body %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4 ms-form">
      <%= form_for [@micropost, @comment] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="ms-field">
          <%= f.text_area :body, class: "ms-text", placeholder: "Send comment...\n(100字以内)" %>
        </div>
        <%= f.submit "コメント", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 ms-other_lessons">
    <div>
      <% if @user.microposts.any? %>
        <h3>Other Lessons</h3>
        <ol class="us-microposts">
          <% @microposts.each do |micropost| %>
            <div class="col-xs-4 col-md-2">
              <%= render 'microposts/pictures',  micropost: micropost %>
            </div>
          <% end %>
        </ol>
      <% end %>
    </div>
    <p class="ms-page"><%= will_paginate @microposts %></p>
  </div>
  <div class="col-xs-12 ms-other_lessons">
    <div class="col-xs-12">
      <% if @relativeposts.any? %>
        <h3>関連レッスン</h3>
        <ol class="us-microposts">
          <% @relativeposts.each do |micropost| %>
            <div class="col-xs-4 col-md-2">
              <%= render 'microposts/pictures',  micropost: micropost %>
            </div>
          <% end %>
        </ol>
      <% end %>
    </div>
    <p class="ms-page"><%= will_paginate @microposts %></p>
  </div>
</div>