@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 110px;
}

section {
  overflow: auto;
}
.parsonal{
  padding-top:30px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.empty{
  color:white;
  margin:0;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  font-family: 'Sacramento', cursive;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.notification{
  animation: flash 2s linear infinite;
}
@keyframes flash {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.nav-list{
  margin:15px 0 0 0;
}
.navbar{
  background:#333333;
  border:none;
  border-radius:0;
  margin:0;
}
.navbar1{
  background:#444444;
  border:none;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    h1{
      font-size:24px;
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// home/index

.hi-top{
  h3{
    padding-left:10px;
    margin:50px 0 20px 15px;
    border-left:solid 7px #28a7e1;
    font-size:24px;
    text-align:left;
    font-weight:bold;
  }
  .hi-recently_microposts{
    background:red;
    margin-top:20px;
    li{
      list-style: none;
      .cc-title{
        font-size:20px;
        line-height:20px;
        height:20px;
        margin-top:10px;
        margin-bottom:10px;
        padding:0 5px;
        overflow:hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      .cc-price{
        display:none;
      }
    }
  }
}

.hi-categories_index{
  h1{
    font-size:20px;
    font-weight:bold;
    margin-top:50px;
  }
  .hi-index{
    .hi-cate{
      margin:0;
      .hi-cate_link{
        color:gray; 
        text-decoration:none;
      }
    }
    :hover{
    background:#eeeeee;
    }
  }
}

.hi-lessons{
  h3{
    padding-left:10px;
    margin:50px 0 20px 0px;
    border-left:solid 7px #28a7e1;
    font-size:24px;
    text-align:left;
    font-weight:bold;
  }
  .hi-link{
    text-decoration:none;
    color:black;
    :hover{
      color:gray;
    }
  }
  .hi-recommend{
    h3{
      margin-left:15px;
    }
    .hi-microposts{
      list-style: none;
      padding: 0;
      .hi-content{
        margin:0;
        margin-bottom:10px;
        border: 1px solid #e8e8e8;
        font-size:12px;
        .hi-title{
          line-height:14px;
          height:28px;
          margin-top:5px;
          margin-bottom:10px;
          padding:0 5px;
          overflow:hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .hi-price{
          padding:0 5px;
          text-align:right;
          margin:0;
        }
      }
    }
  }
  .hi-categories{
    .hi-microposts{
      margin-top:30px;
      list-style: none;
      padding: 0;
    }
    .icon{
      color:#33FF33;
      padding-right:10px;
    }
  }
}

// categories

.category{
  h1{
    padding-top:0;
    padding-left:10px;
    margin:50px 0 20px 10px;
    border-left:solid 7px #28a7e1;
    font-size:24px;
    text-align:left;
  }
  .cc-category{
    list-style: none;
    padding: 0;
  }
}

.cc-content{
  margin:0;
  margin-bottom:10px;
  border: 1px solid #e8e8e8;
  font-size:12px;
  .cc-title{
    line-height:14px;
    height:28px;
    margin-top:5px;
    margin-bottom:10px;
    padding:0 5px;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .cc-price{
    padding:0 5px 5px;
    text-align:right;
    margin:0;
  }
}

/* Users index */

.ui{
  h1{
    font-size:24px;
    font-weight:bold;
    padding-top:30px;
    margin:0;
    margin-top:20px;
    margin-bottom:20px;
  }
  .search-form{
    color:#dddddd;
  }
}
.users {
  list-style: none;
  margin: 0;
  margin-top:30px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

// users/show

.us{
  h3{
    padding-left:10px;
    margin:0;
    margin-left:10px;
    margin-bottom:20px;
    border-left:solid 7px #28a7e1;
  }
}

/* microposts */

.microposts {
  // list-style: none;
  // padding: 0;
  li {
    // padding: 10px 0;
    // border-top: 1px solid #e8e8e8;
  }
  .user {
    // margin-top: 5em;
    // padding-top: 0;
  }
  .content {
    // display: block;
    // margin-left: 60px;
    img {
      // display: block;
      // padding: 5px 0;
    }
  }
  .timestamp {
    // color: $gray-light;
    // display: block;
    // margin-left: 60px;
  }
  .gravatar {
    // float: left;
    // margin-right: 10px;
    // margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

// micropost/show

.ms{
  h3{
      font-weight:bold;
      margin-top:20px;
    }
  .ms-price{
    margin-top:50px;
    font-size:28px;
    border:1px solid #dddddd;
    text-align:center;
    border-radius:5px;
    .ms-text{
      font-weight:bold;
    }
    h4{
      color:#a94442;
      background:#f2dede;
      margin:10px 30px 0;
      padding:5px 0;
      border-radius:5px;
    }
    .ms-btn{
      margin-top:10px;
      margin-bottom:20px;
    }
  }
  .ms-profile{
    font-size:28px;
    border:1px solid #dddddd;
    text-align:center;
    border-radius:5px;
    margin-top:20px;
    .ms-prof_img{
      width:80px;
      margin:0 auto;
      height:50px;
      img{
        width:80px;
      }
    }
    .ms-user_name{
      font-size:20px;
    }
    .ms-gender{
      font-size:18px;
    }
    .ms-comment{
      font-size:18px;
      text-align:center;
      padding:0 15px;
    }
  }
  .ms-maps{
    border:1px solid #dddddd;
    border-radius:5px;
    margin-top:20px;
    .ms-map{
      padding-top:20px;
      #gmap{
        height:300px;
        width:100%;
      }
    }
    .ms-map_text{
      font-size:20px;
      line-height:24px;
    }
  }
  .ms-edit{
    font-size:14px;
    border:1px solid #dddddd;
    text-align:center;
    border-radius:5px;
    margin-top:20px;
    background:#ffffdd;
    padding-bottom:10px;
    h3{
      margin-bottom:15px;
    }
  }
}

.ms-comment_box{
  padding-top:30px;
  .ms-content{
    padding-left:10px;
    h3{
      padding-left:10px;
      margin:0;
      margin-bottom:20px;
      border-left:solid 7px #28a7e1;
    }
  }
  .ms-form{
    padding-top:50px;
    .ms-text{
      height:100px;
    }
  }
}

.ms-other_lessons{
  padding-top:50px;
  h3{
    padding-left:10px;
    margin:0 0 20px 10px;
    border-left:solid 7px #28a7e1;
  }
  .ms-page{
    margin-left:50px;
    background:red;
  }
}

.mc-box{
  h1{
    font-size:32px;
    text-align:left;
    font-weight:bold;
    margin-bottom:10px;
  }
  h2{
    text-align:left;
    font-size:20px;
    margin-bottom:10px;
    color:black;
  }
  .mc-top{
    display:flex;
    justify-content:space-between;
    .mc-level{
      background:#ffccff;
      border:1px solid black;
      display:inline-block;
      padding:0 10px;
      color:gray;
    }
    .mc-time{
      padding-right:10px;
      color:#aaaaaa;
    }
  }
  .mc-img_box{
    width:100%;
    .mc-img{
      width:100%;
      height:auto;
    }
  }
  .mc-service{
    margin-top:50px;
    margin-bottom:50px;
  }
  .mc-other{
    margin-bottom:50px;
  }
}

// micropost/form

.mf-form_box{
  margin-top:50px;
  .mf-field{
    margin-bottom:20px;
    .must{
      color:red;
      font-size:12px;
    }
    .not{
      font-size:12px;
    }
  }
}

// user/show

.profile-top{
  width:100%;
  height:300px;
}
.profile-right{
  padding-top:80px;
  p{
    font-size:18px;
    font-weight:bold;
  }
  .us-title{
    background-color:#eeeeee;
    padding:0 10px;
  }
}

.us-user{
  margin-top:15px;
  // background:blue;
  p{
    // background:pink;
    text-align:center;
    margin:0;
    .icon{
      color:#337ab7;
    }
  }
}

.us-microposts {
  margin-top:30px;
  list-style: none;
  padding: 0;
  li {
    border: 1px solid #e8e8e8;
    margin-bottom:20px;
  }
}

.us-btn{
  margin-top:20px;
}

.mm-content {
  p{
    font-size:14px;
    line-height:18px;
    color:$gray-light;
    padding:0 5px;
  }
  .mm-title{
    height:36px;
    margin-top:5px;
    margin-bottom:10px;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .mm-price{
    height:18px;
    text-align:right;
  }
}

// search

.search-btn{
  margin-bottom:50px;
}

@media screen and (max-width:991px) {
  .category-list{
    display:none;
  }
  .ms{
    border-top:1px solid #dddddd;
    .ms-price{
      margin-top:20px;
      font-size:16px;
      border:none;
      h3{
        font-weight:normal;
      }
    }
    .ms-profile{
      border:none;
      .ms-gender{
        font-size:16px;
      }
      .ms-comment{
        font-size:16px;
        text-align:center;
      }
    }
    .ms-maps{
      .ms-map_text{
        text-align:center;
      }
    }
  }
  .mc-box{
    .mc-top{
      width:80%;
    }
    .mc-img_box{
      .mc-img{
        width:80%;
      }
    }
  }
  .hi-resl{
    display:none;
  }
}

@media screen and (min-width:992px) {
  .hi-ress{
    display:none;
  }
}