<li id="micropost-<%=category.id%>">
  <%= link_to category do %>
    <div class="cc-content">
      <div class="pic" data-toggle="modal" data-target="#testModal-<%=category.id%>">
        <%= image_tag category.picture.url, :width =>'100%',:height =>'100%' if category.picture? %>
      </div>
      <p class="cc-title"><%= category.content %></p>
      <p class="cc-price"><%= category.price %></p>
    </div>
  <% end %>
</li>
