<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-3 category-list">
    <%= render 'shared/category_index' %>
  </div>
  <div class="col-md-9 category">
    <h1><%= @title %></h1>
    <ul class="cc-category">
      <% @categories.each do |category| %>
        <div class="col-xs-4 col-md-3">
          <%= render 'categories/category',  category: category %>
        </div>
      <% end %>
    </ul>
  </div>
</div>