<header class=" navbar-fixed-top ">
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "soonikl", root_path, id:"logo" %>
      </div>
      <nav>
        <ul id="navbar" class="nav navbar-nav navbar-right ">
          <% if user_signed_in? %>
            <li><%= link_to "Home", root_path %></li>
            <% if unchecked_notifications.any? %>
              <li class="notification blinking">
                <%= link_to "通知", notifications_path %>
              </li>
            <% else %>
              <li><%= link_to "通知", notifications_path %></li>
            <% end %>
            <li><%= link_to 'マイページ', current_user %></li>
          <% else %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', login_url %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="navbar navbar-inverse navbar1">
    <div class="container">
      <div class="topBar">
        <div class="container">
          <div class="row">
            <div class="col-xs-7 ">
              <ul class="list-inline navbar-nav">
                <% if user_signed_in? %>
                  <li class="nav-list"><%= link_to 'インストラクターを探す', users_path %></li>
                  <li class="nav-list"><%= link_to '|'%></li>
                  <li class="nav-list"><%= link_to 'レッスンを探す', search_path %></li>
                <% else %>
                  <li class="nav-list"><%= link_to 'インストラクターを探す', users_path %></li>
                  <li class="nav-list"><%= link_to '|'%></li>
                  <li class="nav-list"><%= link_to 'レッスンを探す', search_path %></li>
                <% end %>
              </ul>
            </div>
            <div class="col-xs-5">
              <ul class="list-inline pull-right navbar-nav">
                <% if user_signed_in? %>
                  <li class="nav-list"><%= link_to '新しいレッスンを開講', new_micropost_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>