<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk7uZWLKBFFPNiMOvqwlTWA_ciD_rlqwo&callback=initMap" async defer></script>
    </div>
  </body>
</html>